.side-bar {
    background-color: #fafbfb;
    box-shadow: 2px 0 12px 0 rgba(192, 192, 192, 0.5);
    width: 192px;
    position: absolute;
    left: 0;
    top: 53px;
    z-index: 10;
}

.side-bar__item {
    color: #556481;
    padding: 32px 24px;
}