.color-palett {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-title {
    font-size: 14px;
    font-weight: 500;
    color: rgb(85, 100, 129);
}

.color-for {

}

.color-hash {
    font-size: 14px;
    color: rgb(97, 93, 108);
}

.color-circle {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}